
<div *ngIf="product"> 
        <h1>
            Name: {{ product.name }} 
        </h1>
        <p>
            Category: {{product.category}}
        </p>
        <p>
            Price: {{product.price}}
        </p> 
        <button (click) = "deleteProduct()"> Delete </button>
        <button (click) = "addToCart()"> Add to chart </button>
        <button [routerLink]="'/edit-product/'+product.id" routerLinkActive="active" ariaCurrentWhenActive="page"> Edit </button>
        
        <router-outlet></router-outlet>
    </div>
